## Índice
* [Relevamiento de Expectativas de Mercado](#REM)
    * [REM Período 2016-Actualidad](#REM2016)
    * [REM Período 2004-2012](#REM2004)
    * [Uniendo ambos dataframes en uno solo](#data1)
* [Otros datos del BCRA](#BCRA)
    * [Tasa BADLAR](#BADLAR)
    * [Base Monetaria](#base)
    * [Reservas Internacionales](#reservas)
    * [Tipo de Cambio Mayorista](#mayorista)
* [Datos Obtenidos de Ambito Financiero](#ambito)
    * [Tipo de Cambio "Informal"](#informal)
* [Datos de Otras Fuentes](#otros)
    * [Encuesta Expectativas de Inflacion UTDT](#utdt)
    * [Estimador Mensual de Actividad Economica](#emae)
* [Indice de Precios al Consumidor](#ipc)
    * [Datos Anteriores al 2007](#ipc1943)
    * [Datos entre 2007 y 2017](#ipc2007)
        * [IPC San Luis](#ipcsl)
        * [IPC CABA](#ipccaba)
        * [Uniendo y Tomando la Media de Ambos](#uniendo)
    * [Datos Posteriores a 2017](#ipc2017)
    * [Uniendo los Datos del IPC](#ipcfin)
* [Elaboracion del Dataset Final](#dataset)
    * [Ordenando los Datos cronologicamente](#sorting)
    * [Delimitando los Datos al periodo 2002-2021](#delimitando)
    * [Creando una columna que contiene el mes](#mes)
    * [Preparando las variables de frecuencia mensual](#month_var)
    * [Preparando las variables diarias](#"day_var")
    * [Uniendo ambos dataframes y rellenando datos faltantes](#rellenando)
* [Guardando los datos en un archivo](#guardando)

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## Relevamiento de Expectativas de Mercado <a class="anchor" id="REM"> </a>
### REM Perido 2016-Actualidad <a class="anchor" id="REM2016"> </a>

In [2]:
# Reading the .xlsx file

def read_xlsx(path, sheet_name):
    '''This function reads the .xlsx file and formats the columns correctly '''
    # Reading the file
    new_df = pd.read_excel(path, sheet_name=sheet_name)
    # Setting the first row as the column names
    new_df.columns = new_df.iloc[0, :]
    new_df = new_df.iloc[1:, :]
    return new_df

rem_nuevo = read_xlsx('BCRA/REM/REM nuevo.xlsx', 'Base de Datos Completa')
rem_nuevo

/home/julian/miniconda3/envs/bcra/lib/python3.8/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Fecha de pronóstico,Variable,Referencia,Período,Mediana,Promedio,Desvío,Máximo,Mínimo,Percentil 90,Percentil 75,Percentil 25,Percentil 10,Cantidad de participantes
1,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-07-01 00:00:00,2.2,2.242308,0.437367,3.6,1.6,2.672,2.5,1.945,1.78,39
2,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-08-01 00:00:00,1.9,1.88359,0.348348,3.3,1.13,2.21,2,1.7,1.556,39
3,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-09-01 00:00:00,1.74,1.755897,0.293805,3,1.26,2,1.89,1.6,1.49,39
4,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-10-01 00:00:00,1.6,1.614359,0.284459,2.5,1.04,2,1.775,1.5,1.252,39
5,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-11-01 00:00:00,1.5,1.542821,0.244791,2,0.88,1.9,1.7,1.425,1.256,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,2021-04-30 00:00:00,PIB a precios constantes,var. % trim. s.e.,Trim. II-21,-1.45,-1.562117,1.600867,1,-5.4,0.305,-0.075,-2.65,-3.8,36
3128,2021-04-30 00:00:00,PIB a precios constantes,var. % trim. s.e.,Trim. III-21,0.6,0.655821,1.206015,4.1,-3.5,1.9,1.31,0.075,-0.367785,36
3129,2021-04-30 00:00:00,PIB a precios constantes,var. % prom. anual,2021,6.405921,6.34247,0.756899,8,3.7,7,6.894982,6,5.61,42
3130,2021-04-30 00:00:00,PIB a precios constantes,var. % prom. anual,2022,2.5,2.459023,1.065667,4.6,0,3.5,3.05,1.994737,1.154353,40
3131,2021-04-30 00:00:00,PIB a precios constantes,var. % prom. anual,2023,2.52251,2.522975,0.596139,4,1.451453,3,3,2.1,1.542723,33

In [3]:
# Dropping unnecesary columns

rem_nuevo = rem_nuevo[['Fecha de pronóstico', 'Variable', 'Referencia', 'Período', 'Promedio']]
rem_nuevo

,Fecha de pronóstico,Variable,Referencia,Período,Promedio
1,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-07-01 00:00:00,2.242308
2,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-08-01 00:00:00,1.88359
3,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-09-01 00:00:00,1.755897
4,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-10-01 00:00:00,1.614359
5,2016-06-30 00:00:00,Precios minoristas (IPC nivel general-GBA; INDEC),var. % mensual,2016-11-01 00:00:00,1.542821
...,...,...,...,...,...
3127,2021-04-30 00:00:00,PIB a precios constantes,var. % trim. s.e.,Trim. II-21,-1.562117
3128,2021-04-30 00:00:00,PIB a precios constantes,var. % trim. s.e.,Trim. III-21,0.655821
3129,2021-04-30 00:00:00,PIB a precios constantes,var. % prom. anual,2021,6.34247
3130,2021-04-30 00:00:00,PIB a precios constantes,var. % prom. anual,2022,2.459023
3131,2021-04-30 00:00:00,PIB a precios constantes,var. % prom. anual,2023,2.522975

In [4]:
# Dropping rows unrelated to the monthly IPC variation

rem_nuevo = rem_nuevo[rem_nuevo['Variable'] == 'Precios minoristas (IPC nivel general; INDEC)']
rem_nuevo = rem_nuevo[rem_nuevo['Referencia'] == 'var. % mensual'].reset_index(drop=True)
rem_nuevo

,Fecha de pronóstico,Variable,Referencia,Período,Promedio
0,2016-06-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-07-01 00:00:00,2.298095
1,2016-06-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-08-01 00:00:00,1.962857
2,2016-06-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-09-01 00:00:00,1.825714
3,2016-06-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-10-01 00:00:00,1.682857
4,2016-06-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-11-01 00:00:00,1.609524
...,...,...,...,...,...
377,2021-04-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,jun-21,2.957047
378,2021-04-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,jul-21,2.820179
379,2021-04-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,ago-21,2.674699
380,2021-04-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,sep-21,2.65295
381,2021-04-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,oct-21,2.635735

In [5]:
# Dropping rows that make predictions on following months

def keep_first_date(df, date_col):
    '''This function keeps the first date for each month
       and removes the rest'''
    # List that will contain all the dates
    date_list = []
    n_rows = df.shape[0]
    
    # List that will contatin the index of the rows to drop
    rows_to_drop = []
    
    # Looping over the rows
    for i in range(n_rows):
        
        if df.loc[i, date_col] not in date_list:
            date_list.append(df.loc[i, date_col])
            
        elif df.loc[i, date_col] in date_list:   
            rows_to_drop.append(i)
            
    # Using rows_to_drop to remove the undesired rows    
    new_df = df.drop(index=rows_to_drop).reset_index(drop=True)
    return new_df

rem_nuevo = keep_first_date(rem_nuevo, 'Fecha de pronóstico')
rem_nuevo

,Fecha de pronóstico,Variable,Referencia,Período,Promedio
0,2016-06-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-07-01 00:00:00,2.298095
1,2016-07-29 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-08-01 00:00:00,2.011034
2,2016-08-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-09-01 00:00:00,1.525714
3,2016-09-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-10-01 00:00:00,1.872222
4,2016-10-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-11-01 00:00:00,1.613333
5,2016-11-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2016-12-01 00:00:00,1.635
6,2016-12-29 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-01-01 00:00:00,1.750741
7,2017-01-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-02-01 00:00:00,1.724138
8,2017-02-24 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-03-01 00:00:00,1.769615
9,2017-03-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-04-01 00:00:00,1.91375
10,2017-04-28 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-05-01 00:00:00,1.602609
11,2017-05-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-06-01 00:00:00,1.48
12,2017-06-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-07-01 00:00:00,1.435714
13,2017-07-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-08-01 00:00:00,1.44561
14,2017-08-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-09-01 00:00:00,1.332143
15,2017-09-29 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-10-01 00:00:00,1.389565
16,2017-10-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-11-01 00:00:00,1.58617
17,2017-11-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2017-12-01 00:00:00,2.064792
18,2017-12-28 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-01-01 00:00:00,1.645556
19,2018-01-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-02-01 00:00:00,2.146
20,2018-02-28 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-03-01 00:00:00,1.720192
21,2018-03-28 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-04-01 00:00:00,2.061
22,2018-04-27 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-05-01 00:00:00,1.705778
23,2018-05-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-06-01 00:00:00,2.462885
24,2018-06-29 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-07-01 00:00:00,2.633529
25,2018-07-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-08-01 00:00:00,2.382353
26,2018-08-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-09-01 00:00:00,3.992
27,2018-09-28 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-10-01 00:00:00,4.102955
28,2018-10-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-11-01 00:00:00,3.283654
29,2018-11-29 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2018-12-01 00:00:00,2.764
30,2018-12-28 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-01-01 00:00:00,2.580208
31,2019-01-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-01-01 00:00:00,2.546731
32,2019-02-28 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-02-01 00:00:00,3.439057
33,2019-03-29 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-03-01 00:00:00,3.73
34,2019-04-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-04-01 00:00:00,3.98098
35,2019-05-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-05-01 00:00:00,3.086042
36,2019-06-28 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-06-01 00:00:00,2.602598
37,2019-07-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-07-01 00:00:00,2.372574
38,2019-08-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-08-01 00:00:00,4.429039
39,2019-09-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-09-01 00:00:00,5.746716
40,2019-10-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-10-01 00:00:00,4.401506
41,2019-11-29 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-11-01 00:00:00,4.107656
42,2019-12-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2019-12-01 00:00:00,4.202258
43,2020-01-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2020-01-01 00:00:00,3.460822
44,2020-02-28 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2020-02-01 00:00:00,2.468749
45,2020-03-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,mar-20,2.580729
46,2020-04-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2020-04-30 00:00:00,2.430546
47,2020-05-29 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,may-20,1.759992
48,2020-06-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,jun-20,1.917893
49,2020-07-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,jul-20,2.368798
50,2020-08-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2020-08-31 00:00:00,2.786919
51,2020-09-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,sep-20,2.996612
52,2020-10-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,oct-20,3.206148
53,2020-11-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,nov-20,3.652041
54,2020-12-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2020-12-31 00:00:00,3.852123
55,2021-01-29 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2021-01-31 00:00:00,3.803133
56,2021-02-26 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,2021-02-28 00:00:00,3.530524
57,2021-03-31 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,mar-21,3.945794
58,2021-04-30 00:00:00,Precios minoristas (IPC nivel general; INDEC),var. % mensual,abr-21,3.802645

In [6]:
# Dropping more unnecessary columns
rem_nuevo = rem_nuevo.drop(columns=['Variable', 'Referencia', 'Período'])
rem_nuevo

0   Fecha de pronóstico  Promedio
0   2016-06-30 00:00:00  2.298095
1   2016-07-29 00:00:00  2.011034
2   2016-08-31 00:00:00  1.525714
3   2016-09-30 00:00:00  1.872222
4   2016-10-31 00:00:00  1.613333
5   2016-11-30 00:00:00     1.635
6   2016-12-29 00:00:00  1.750741
7   2017-01-31 00:00:00  1.724138
8   2017-02-24 00:00:00  1.769615
9   2017-03-31 00:00:00   1.91375
10  2017-04-28 00:00:00  1.602609
11  2017-05-31 00:00:00      1.48
12  2017-06-30 00:00:00  1.435714
13  2017-07-31 00:00:00   1.44561
14  2017-08-31 00:00:00  1.332143
15  2017-09-29 00:00:00  1.389565
16  2017-10-31 00:00:00   1.58617
17  2017-11-30 00:00:00  2.064792
18  2017-12-28 00:00:00  1.645556
19  2018-01-31 00:00:00     2.146
20  2018-02-28 00:00:00  1.720192
21  2018-03-28 00:00:00     2.061
22  2018-04-27 00:00:00  1.705778
23  2018-05-31 00:00:00  2.462885
24  2018-06-29 00:00:00  2.633529
25  2018-07-31 00:00:00  2.382353
26  2018-08-31 00:00:00     3.992
27  2018-09-28 00:00:00  4.102955
28  2018-10-31 00:00:00  3.283654
29  2018-11-29 00:00:00     2.764
30  2018-12-28 00:00:00  2.580208
31  2019-01-31 00:00:00  2.546731
32  2019-02-28 00:00:00  3.439057
33  2019-03-29 00:00:00      3.73
34  2019-04-30 00:00:00   3.98098
35  2019-05-31 00:00:00  3.086042
36  2019-06-28 00:00:00  2.602598
37  2019-07-31 00:00:00  2.372574
38  2019-08-30 00:00:00  4.429039
39  2019-09-30 00:00:00  5.746716
40  2019-10-31 00:00:00  4.401506
41  2019-11-29 00:00:00  4.107656
42  2019-12-30 00:00:00  4.202258
43  2020-01-31 00:00:00  3.460822
44  2020-02-28 00:00:00  2.468749
45  2020-03-31 00:00:00  2.580729
46  2020-04-30 00:00:00  2.430546
47  2020-05-29 00:00:00  1.759992
48  2020-06-30 00:00:00  1.917893
49  2020-07-31 00:00:00  2.368798
50  2020-08-31 00:00:00  2.786919
51  2020-09-30 00:00:00  2.996612
52  2020-10-30 00:00:00  3.206148
53  2020-11-30 00:00:00  3.652041
54  2020-12-30 00:00:00  3.852123
55  2021-01-29 00:00:00  3.803133
56  2021-02-26 00:00:00  3.530524
57  2021-03-31 00:00:00  3.945794
58  2021-04-30 00:00:00  3.802645

In [7]:
# Transforming the Fecha de pronóstico column to the fecha column

def transform_date(date):
    '''This function adds one month to a date'''
    year = date.year
    month = date.month
    if date.month == 12:
        new_date = dt.datetime(year=year+1, month=1, day=1)
    else:
        new_date = dt.datetime(year=year, month=month+1, day=1)
    return new_date

rem_nuevo['fecha'] = rem_nuevo['Fecha de pronóstico'].apply(transform_date)
rem_nuevo['fecha'] = pd.to_datetime(rem_nuevo['fecha'])
rem_nuevo = rem_nuevo.drop(columns='Fecha de pronóstico')
rem_nuevo

0   Promedio      fecha
0   2.298095 2016-07-01
1   2.011034 2016-08-01
2   1.525714 2016-09-01
3   1.872222 2016-10-01
4   1.613333 2016-11-01
5      1.635 2016-12-01
6   1.750741 2017-01-01
7   1.724138 2017-02-01
8   1.769615 2017-03-01
9    1.91375 2017-04-01
10  1.602609 2017-05-01
11      1.48 2017-06-01
12  1.435714 2017-07-01
13   1.44561 2017-08-01
14  1.332143 2017-09-01
15  1.389565 2017-10-01
16   1.58617 2017-11-01
17  2.064792 2017-12-01
18  1.645556 2018-01-01
19     2.146 2018-02-01
20  1.720192 2018-03-01
21     2.061 2018-04-01
22  1.705778 2018-05-01
23  2.462885 2018-06-01
24  2.633529 2018-07-01
25  2.382353 2018-08-01
26     3.992 2018-09-01
27  4.102955 2018-10-01
28  3.283654 2018-11-01
29     2.764 2018-12-01
30  2.580208 2019-01-01
31  2.546731 2019-02-01
32  3.439057 2019-03-01
33      3.73 2019-04-01
34   3.98098 2019-05-01
35  3.086042 2019-06-01
36  2.602598 2019-07-01
37  2.372574 2019-08-01
38  4.429039 2019-09-01
39  5.746716 2019-10-01
40  4.401506 2019-11-01
41  4.107656 2019-12-01
42  4.202258 2020-01-01
43  3.460822 2020-02-01
44  2.468749 2020-03-01
45  2.580729 2020-04-01
46  2.430546 2020-05-01
47  1.759992 2020-06-01
48  1.917893 2020-07-01
49  2.368798 2020-08-01
50  2.786919 2020-09-01
51  2.996612 2020-10-01
52  3.206148 2020-11-01
53  3.652041 2020-12-01
54  3.852123 2021-01-01
55  3.803133 2021-02-01
56  3.530524 2021-03-01
57  3.945794 2021-04-01
58  3.802645 2021-05-01

In [8]:
# Changing column names
rem_nuevo.columns = ['rem', 'fecha']
print(rem_nuevo.shape)
rem_nuevo

(59, 2)

         rem      fecha
0   2.298095 2016-07-01
1   2.011034 2016-08-01
2   1.525714 2016-09-01
3   1.872222 2016-10-01
4   1.613333 2016-11-01
5      1.635 2016-12-01
6   1.750741 2017-01-01
7   1.724138 2017-02-01
8   1.769615 2017-03-01
9    1.91375 2017-04-01
10  1.602609 2017-05-01
11      1.48 2017-06-01
12  1.435714 2017-07-01
13   1.44561 2017-08-01
14  1.332143 2017-09-01
15  1.389565 2017-10-01
16   1.58617 2017-11-01
17  2.064792 2017-12-01
18  1.645556 2018-01-01
19     2.146 2018-02-01
20  1.720192 2018-03-01
21     2.061 2018-04-01
22  1.705778 2018-05-01
23  2.462885 2018-06-01
24  2.633529 2018-07-01
25  2.382353 2018-08-01
26     3.992 2018-09-01
27  4.102955 2018-10-01
28  3.283654 2018-11-01
29     2.764 2018-12-01
30  2.580208 2019-01-01
31  2.546731 2019-02-01
32  3.439057 2019-03-01
33      3.73 2019-04-01
34   3.98098 2019-05-01
35  3.086042 2019-06-01
36  2.602598 2019-07-01
37  2.372574 2019-08-01
38  4.429039 2019-09-01
39  5.746716 2019-10-01
40  4.401506 2019-11-01
41  4.107656 2019-12-01
42  4.202258 2020-01-01
43  3.460822 2020-02-01
44  2.468749 2020-03-01
45  2.580729 2020-04-01
46  2.430546 2020-05-01
47  1.759992 2020-06-01
48  1.917893 2020-07-01
49  2.368798 2020-08-01
50  2.786919 2020-09-01
51  2.996612 2020-10-01
52  3.206148 2020-11-01
53  3.652041 2020-12-01
54  3.852123 2021-01-01
55  3.803133 2021-02-01
56  3.530524 2021-03-01
57  3.945794 2021-04-01
58  3.802645 2021-05-01

### REM Periodo 2004-2012 <a class="anchor" id="REM2004"> </a>

In [9]:
# Reading the xlsx file
rem_viejo = read_xlsx('BCRA/REM/REM viejo.xlsx', 'REM base')
rem_viejo

,Fecha del pronóstico,Variable,Período,Mediana,Promedio,Desvío,Máximo,Mínimo,Percentil 75,Percentil 25,Cantidad de respuestas,NaN
1,2004-01-07 00:00:00,EMAE: variación interanual; en %,2004-ANL,6.5,6.77931,1.01553,8.8,5,7.675,6,29,NaN
2,2004-01-07 00:00:00,Resultado Primario del Sec. Pub. Nac. No Fin. ...,2004-ENE,980,995.6,261.2588,1450,455,1243,834.75,25,NaN
3,2004-01-07 00:00:00,Resultado Primario del Sec. Pub. Nac. No Fin. ...,2005-ANL,12600,12704.90476,2989.77812,20145,6000,13885,10719.75,21,NaN
4,2004-01-07 00:00:00,PIB a precios constantes: variación interanual...,2003-TR4,9,8.72286,1.36426,10.5,5,9.8,8,35,NaN
5,2004-01-07 00:00:00,PIB a precios constantes: variación interanual...,2004-ANL,6.2,6.45833,0.79386,8.8,5,7,6,36,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
39024,2012-09-26 00:00:00,Tasa de interés: BADLAR promedio mensual de b...,2012-ANL,15,14.88235,1.3044,17,12.5,15.6,13.85,17,NaN
39025,2012-09-26 00:00:00,Tasa de interés: BADLAR promedio mensual de b...,2012-SEP,14.1,13.80786,0.72279,14.3,11.41,14.26,13.525,14,NaN
39026,2012-09-26 00:00:00,Agregado Monetario M2 ($); promedio mensual en...,2012-ANL,418186,416179.875,22651.96767,443046,340065,430000,409550,16,NaN
39027,2012-09-26 00:00:00,Agregado Monetario M2 ($); promedio mensual en...,2012-SEP,405754,405995.75,4987.48596,417816,398000,408417.25,402125,12,NaN
39028,2012-09-26 00:00:00,Tasa de Interés: Pases Pasivos en $ a 7 días; ...,2012-ANL,9.5,10.01176,1.03519,13,9.5,9.95,9.5,17,NaN

In [10]:
# Removing columns and rows that are not useful
rem_viejo = rem_viejo[rem_viejo['Variable'] == 'IPC: variación mensual; en %'].reset_index(drop=True)
rem_viejo = rem_viejo.drop(columns=['Mediana', 'Desvío', 'Máximo', 'Mínimo', 'Percentil 75', 'Percentil 25', 'Cantidad de respuestas', 'Variable'])
rem_viejo = rem_viejo.loc[:, rem_viejo.columns.notnull()]
rem_viejo

0    Fecha del pronóstico   Período  Promedio
0     2004-01-07 00:00:00  2004-ANL   5.88857
1     2004-01-07 00:00:00  2005-ANL     6.764
2     2004-01-07 00:00:00  2004-ENE   0.85152
3     2004-01-07 00:00:00  2004-FEB   0.45517
4     2004-01-14 00:00:00  2004-ANL   5.99756
...                   ...       ...       ...
1733  2012-09-19 00:00:00  2012-ANL  13.44167
1734  2012-09-26 00:00:00  2013-ANL     14.62
1735  2012-09-26 00:00:00  2012-SEP   1.03636
1736  2012-09-26 00:00:00  2012-OCT   1.27778
1737  2012-09-26 00:00:00  2012-ANL     13.45

[1738 rows x 3 columns]

In [11]:
# formatting the Periodo column and removing some unnecessary rows

def format_dates(date):
    '''This function transforms a date to datetime'''
    # Dict to match months
    month_dict = {'ENE': 1, 'FEB':2, 'MAR':3, 'ABR':4, 'MAY':5, 'JUN':6, 'JUL':7, 
                  'AGO':8, 'SEP':9, 'OCT':10, 'NOV':11, 'DIC':12}
    # Splitting the years and months
    year, month = date.split('-')[0], date.split('-')[1]
    # Mark this rows to remove them
    if month == 'ANL':
        return 'del'
    # Transform the dates in periodo to datetime
    elif month in month_dict:
        year, month = int(year), month_dict[month]
        formatted_date = dt.datetime(year, month, 1)
        return formatted_date
    
rem_viejo['Período'] = rem_viejo['Período'].apply(format_dates)
rem_viejo = rem_viejo[rem_viejo['Período'] != 'del'].reset_index(drop=True)
rem_viejo['Período'] = pd.to_datetime(rem_viejo['Período'])

rem_viejo

0   Fecha del pronóstico    Período Promedio
0    2004-01-07 00:00:00 2004-01-01  0.85152
1    2004-01-07 00:00:00 2004-02-01  0.45517
2    2004-01-14 00:00:00 2004-02-01  0.47297
3    2004-01-14 00:00:00 2004-01-01  0.84359
4    2004-01-21 00:00:00 2004-01-01  0.81905
..                   ...        ...      ...
906  2012-09-12 00:00:00 2012-10-01  1.44286
907  2012-09-19 00:00:00 2012-10-01  1.44286
908  2012-09-19 00:00:00 2012-09-01  1.05455
909  2012-09-26 00:00:00 2012-09-01  1.03636
910  2012-09-26 00:00:00 2012-10-01  1.27778

[911 rows x 3 columns]

In [12]:
# Filtering based on the forecast and prediction period 
new_forecast_col = rem_viejo['Fecha del pronóstico'] + np.timedelta64(1, 'M')
bool_mask = new_forecast_col.dt.month == rem_viejo['Período'].dt.month
rem_viejo = rem_viejo[bool_mask].reset_index(drop=True)
rem_viejo

0   Fecha del pronóstico    Período Promedio
0    2004-01-07 00:00:00 2004-02-01  0.45517
1    2004-01-14 00:00:00 2004-02-01  0.47297
2    2004-01-21 00:00:00 2004-02-01    0.515
3    2004-01-28 00:00:00 2004-02-01  0.50952
4    2004-02-04 00:00:00 2004-03-01  0.49643
..                   ...        ...      ...
348  2012-08-22 00:00:00 2012-09-01  1.02727
349  2012-08-29 00:00:00 2012-09-01  1.03636
350  2012-09-12 00:00:00 2012-10-01  1.44286
351  2012-09-19 00:00:00 2012-10-01  1.44286
352  2012-09-26 00:00:00 2012-10-01  1.27778

[353 rows x 3 columns]

In [13]:
# Picking the last forecast date for each month
def keep_last_date(df, date_col):
    '''This function keeps the last date for each month
    and removes the rest'''
    # List that will contain all the dates
    date_list = []
    n_rows = df.shape[0]
    
    # List that will contatin the index of the rows to drop
    rows_to_drop = []
    
    # List containing the index in reversed order
    reversed_rows = [i for i in range(n_rows)][::-1]

    # Looping over the rows
    for i in reversed_rows:
        
        if df.loc[i, date_col] not in date_list:
            date_list.append(df.loc[i, date_col])
            
        elif df.loc[i, date_col] in date_list:   
            rows_to_drop.append(i)
            
    # Using rows_to_drop to remove the undesired rows    
    new_df = df.drop(index=rows_to_drop).reset_index(drop=True)

    return new_df

rem_viejo = keep_last_date(rem_viejo, 'Período')
rem_viejo

0   Fecha del pronóstico    Período Promedio
0    2004-01-28 00:00:00 2004-02-01  0.50952
1    2004-02-25 00:00:00 2004-03-01  0.51111
2    2004-03-31 00:00:00 2004-04-01  0.61707
3    2004-04-28 00:00:00 2004-05-01     0.55
4    2004-05-26 00:00:00 2004-06-01  0.67561
..                   ...        ...      ...
100  2012-05-30 00:00:00 2012-06-01     1.09
101  2012-06-27 00:00:00 2012-07-01     1.06
102  2012-08-01 00:00:00 2012-08-01     1.05
103  2012-08-29 00:00:00 2012-09-01  1.03636
104  2012-09-26 00:00:00 2012-10-01  1.27778

[105 rows x 3 columns]

In [14]:
# Finishing formatting the dataframe
rem_viejo = rem_viejo.drop(columns='Fecha del pronóstico')
rem_viejo.columns = ['fecha', 'rem']
rem_viejo

         fecha      rem
0   2004-02-01  0.50952
1   2004-03-01  0.51111
2   2004-04-01  0.61707
3   2004-05-01     0.55
4   2004-06-01  0.67561
..         ...      ...
100 2012-06-01     1.09
101 2012-07-01     1.06
102 2012-08-01     1.05
103 2012-09-01  1.03636
104 2012-10-01  1.27778

[105 rows x 2 columns]

### Uniendo ambos dataframes en uno solo <a class="anchor" id="data1"> </a>

In [15]:
data = pd.concat([rem_viejo, rem_nuevo]).reset_index(drop=True)
print(data.shape)
data

(164, 2)

         fecha       rem
0   2004-02-01   0.50952
1   2004-03-01   0.51111
2   2004-04-01   0.61707
3   2004-05-01      0.55
4   2004-06-01   0.67561
..         ...       ...
159 2021-01-01  3.852123
160 2021-02-01  3.803133
161 2021-03-01  3.530524
162 2021-04-01  3.945794
163 2021-05-01  3.802645

[164 rows x 2 columns]

## Otros Datos del BCRA <a class="anchor" id="BCRA"> </a>
### Tasa BADLAR <a class="anchor" id="BADLAR"> </a>

In [16]:
# Loading the data from the csv file
def load_bcra_data(csv_path):
    df = pd.read_csv(csv_path, names=['fecha', 'valor'])
    return df

badlar = load_bcra_data('BCRA/BADLAR.csv')
print(badlar.shape, badlar.dtypes, sep='\n')
badlar

(5468, 2)
fecha    object
valor    object
dtype: object

           fecha    valor
0     04/01/1999   9,0625
1     05/01/1999   8,8125
2     06/01/1999   8,8125
3     07/01/1999   8,7500
4     08/01/1999   8,4375
...          ...      ...
5463  07/05/2021  34,1250
5464  10/05/2021  34,0000
5465  11/05/2021  34,1250
5466  12/05/2021  34,1875
5467  13/05/2021  34,1875

[5468 rows x 2 columns]

In [17]:
#Converting the fecha column to datetime
badlar['fecha'] = pd.to_datetime(badlar['fecha'], format='%d/%m/%Y')
badlar

          fecha    valor
0    1999-01-04   9,0625
1    1999-01-05   8,8125
2    1999-01-06   8,8125
3    1999-01-07   8,7500
4    1999-01-08   8,4375
...         ...      ...
5463 2021-05-07  34,1250
5464 2021-05-10  34,0000
5465 2021-05-11  34,1250
5466 2021-05-12  34,1875
5467 2021-05-13  34,1875

[5468 rows x 2 columns]

In [18]:
# Converting the number strings to fp32 and changing column names
def convert_str_to_float(series):
    series = series.str.replace(',', '.')
    series = series.astype('float32')
    return series

badlar['valor'] = convert_str_to_float(badlar['valor'])
badlar.columns = ['fecha', 'badlar']
badlar

          fecha   badlar
0    1999-01-04   9.0625
1    1999-01-05   8.8125
2    1999-01-06   8.8125
3    1999-01-07   8.7500
4    1999-01-08   8.4375
...         ...      ...
5463 2021-05-07  34.1250
5464 2021-05-10  34.0000
5465 2021-05-11  34.1250
5466 2021-05-12  34.1875
5467 2021-05-13  34.1875

[5468 rows x 2 columns]

In [19]:
# Merging the badlar df with data df
data = data.merge(badlar, how='outer', on='fecha').reset_index(drop=True)
data = data.sort_values('fecha', axis=0)
print(data.shape)
data

(5534, 3)

          fecha  rem   badlar
164  1999-01-04  NaN   9.0625
165  1999-01-05  NaN   8.8125
166  1999-01-06  NaN   8.8125
167  1999-01-07  NaN   8.7500
168  1999-01-08  NaN   8.4375
...         ...  ...      ...
5529 2021-05-07  NaN  34.1250
5530 2021-05-10  NaN  34.0000
5531 2021-05-11  NaN  34.1250
5532 2021-05-12  NaN  34.1875
5533 2021-05-13  NaN  34.1875

[5534 rows x 3 columns]

### Base Monetaria <a class="anchor" id="base"> </a>

In [20]:
# Reading the csv file
base_monetaria = load_bcra_data('BCRA/Base Monetaria.csv')
print(base_monetaria.shape, base_monetaria.dtypes, sep='\n')
base_monetaria

(6261, 2)
fecha    object
valor    object
dtype: object

           fecha      valor
0     02/01/1996     13.069
1     03/01/1996      12.97
2     04/01/1996     13.034
3     05/01/1996     13.097
4     08/01/1996     13.104
...          ...        ...
6256  06/05/2021  2.535.872
6257  07/05/2021  2.489.384
6258  10/05/2021  2.502.577
6259  11/05/2021  2.545.019
6260  12/05/2021  2.538.706

[6261 rows x 2 columns]

In [21]:
# Changing columns to the correct datatype
base_monetaria['valor'] = base_monetaria['valor'].str.replace('.', '').astype('float32')
base_monetaria['fecha'] = pd.to_datetime(base_monetaria['fecha'], format='%d/%m/%Y')
base_monetaria.dtypes

<ipython-input-21-65586080d1f8>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  base_monetaria['valor'] = base_monetaria['valor'].str.replace('.', '').astype('float32')

fecha    datetime64[ns]
valor           float32
dtype: object

In [22]:
# Changing column names
base_monetaria.columns = ['fecha', 'base_monetaria']
base_monetaria

          fecha  base_monetaria
0    1996-01-02         13069.0
1    1996-01-03          1297.0
2    1996-01-04         13034.0
3    1996-01-05         13097.0
4    1996-01-08         13104.0
...         ...             ...
6256 2021-05-06       2535872.0
6257 2021-05-07       2489384.0
6258 2021-05-10       2502577.0
6259 2021-05-11       2545019.0
6260 2021-05-12       2538706.0

[6261 rows x 2 columns]

In [23]:
# Merging the data
data = data.merge(base_monetaria, how='outer', on='fecha').reset_index(drop=True)
data

          fecha  rem  badlar  base_monetaria
0    1999-01-04  NaN  9.0625         16412.0
1    1999-01-05  NaN  8.8125         16293.0
2    1999-01-06  NaN  8.8125         16249.0
3    1999-01-07  NaN  8.7500         16277.0
4    1999-01-08  NaN  8.4375         16286.0
...         ...  ...     ...             ...
6325 2002-04-23  NaN     NaN         20517.0
6326 2002-04-24  NaN     NaN         20618.0
6327 2002-04-25  NaN     NaN         20722.0
6328 2002-04-26  NaN     NaN         21135.0
6329 2005-12-31  NaN     NaN          5471.0

[6330 rows x 4 columns]

### Reservas Internacionales <a class="anchor" id="reservas"> </a>

In [24]:
# Reading the file
reservas = load_bcra_data('BCRA/Reservas.csv')
print(reservas.dtypes)
reservas

fecha     object
valor    float64
dtype: object

           fecha   valor
0     12/01/1996  17.677
1     15/01/1996  17.710
2     16/01/1996  17.405
3     17/01/1996  17.450
4     18/01/1996  17.457
...          ...     ...
6248  06/05/2021  40.300
6249  07/05/2021  40.454
6250  10/05/2021  40.616
6251  11/05/2021  40.762
6252  12/05/2021  40.880

[6253 rows x 2 columns]

In [25]:
# Changing columns to the correct datatype
reservas['valor'] = reservas['valor'] * 1000
reservas['fecha'] = pd.to_datetime(reservas['fecha'], format='%d/%m/%Y')
reservas.dtypes

fecha    datetime64[ns]
valor           float64
dtype: object

In [26]:
# Changing column names
reservas.columns = ['fecha', 'reservas'] 
reservas

          fecha  reservas
0    1996-01-12   17677.0
1    1996-01-15   17710.0
2    1996-01-16   17405.0
3    1996-01-17   17450.0
4    1996-01-18   17457.0
...         ...       ...
6248 2021-05-06   40300.0
6249 2021-05-07   40454.0
6250 2021-05-10   40616.0
6251 2021-05-11   40762.0
6252 2021-05-12   40880.0

[6253 rows x 2 columns]

In [27]:
# Merging the data
data = data.merge(reservas, how='outer', on='fecha').reset_index(drop=True)
data

          fecha  rem  badlar  base_monetaria  reservas
0    1999-01-04  NaN  9.0625         16412.0   32947.0
1    1999-01-05  NaN  8.8125         16293.0   33043.0
2    1999-01-06  NaN  8.8125         16249.0   33130.0
3    1999-01-07  NaN  8.7500         16277.0   33555.0
4    1999-01-08  NaN  8.4375         16286.0   33555.0
...         ...  ...     ...             ...       ...
6325 2002-04-23  NaN     NaN         20517.0   12316.0
6326 2002-04-24  NaN     NaN         20618.0   12316.0
6327 2002-04-25  NaN     NaN         20722.0   12317.0
6328 2002-04-26  NaN     NaN         21135.0   12317.0
6329 2005-12-31  NaN     NaN          5471.0   28077.0

[6330 rows x 5 columns]

### Tipo de Cambio Mayorista <a class="anchor" id="mayorista"> </a>

In [28]:
# Reading the file
dolar_mayor = load_bcra_data('BCRA/Dolar Mayorista.csv')
print(dolar_mayor.dtypes)
dolar_mayor

fecha    object
valor    object
dtype: object

           fecha  valor
0     14/03/2002   2,37
1     15/03/2002   2,34
2     18/03/2002   2,32
3     19/03/2002   2,38
4     20/03/2002   2,43
...          ...    ...
4704  10/05/2021  93,93
4705  11/05/2021  93,96
4706  12/05/2021  93,99
4707  13/05/2021  94,02
4708  14/05/2021  94,05

[4709 rows x 2 columns]

In [29]:
# Changing the column to the correct datatype
dolar_mayor['fecha'] = pd.to_datetime(dolar_mayor['fecha'], format='%d/%m/%Y')
dolar_mayor['valor'] = convert_str_to_float(dolar_mayor['valor'])
print(dolar_mayor.dtypes)

fecha    datetime64[ns]
valor           float32
dtype: object

In [30]:
# Changing column names
dolar_mayor.columns = ['fecha', 'dolar_mayor']
dolar_mayor

          fecha  dolar_mayor
0    2002-03-14     2.370000
1    2002-03-15     2.340000
2    2002-03-18     2.320000
3    2002-03-19     2.380000
4    2002-03-20     2.430000
...         ...          ...
4704 2021-05-10    93.930000
4705 2021-05-11    93.959999
4706 2021-05-12    93.989998
4707 2021-05-13    94.019997
4708 2021-05-14    94.050003

[4709 rows x 2 columns]

In [31]:
# Merging the data
data = data.merge(dolar_mayor, how='outer', on='fecha').reset_index(drop=True)
data

          fecha  rem  badlar  base_monetaria  reservas  dolar_mayor
0    1999-01-04  NaN  9.0625         16412.0   32947.0          NaN
1    1999-01-05  NaN  8.8125         16293.0   33043.0          NaN
2    1999-01-06  NaN  8.8125         16249.0   33130.0          NaN
3    1999-01-07  NaN  8.7500         16277.0   33555.0          NaN
4    1999-01-08  NaN  8.4375         16286.0   33555.0          NaN
...         ...  ...     ...             ...       ...          ...
6326 2002-04-24  NaN     NaN         20618.0   12316.0          NaN
6327 2002-04-25  NaN     NaN         20722.0   12317.0          NaN
6328 2002-04-26  NaN     NaN         21135.0   12317.0          NaN
6329 2005-12-31  NaN     NaN          5471.0   28077.0     3.030000
6330 2021-05-14  NaN     NaN             NaN       NaN    94.050003

[6331 rows x 6 columns]

## Data From Ambito Financiero <a class="anchor" id="ambito"> </a>
### Tipo de Cambio Informal <a class="anchor" id="informal"> </a>

In [32]:
# Reading the data
dolar_informal = pd.read_csv('Ambito/Dolar Informal.csv')
dolar_informal

           Fecha  Compra   Venta
0     14-05-2021  148,00  153,00
1     13-05-2021  146,00  151,00
2     12-05-2021  147,00  152,00
3     11-05-2021  146,00  151,00
4     10-05-2021  147,00  152,00
...          ...     ...     ...
4799  17-01-2002    1,92    1,97
4800  16-01-2002    1,83    1,87
4801  15-01-2002    1,90    1,95
4802  14-01-2002    1,63    1,68
4803  11-01-2002    1,65    1,70

[4804 rows x 3 columns]

In [33]:
# Converting the "Compra" and "Venta" columns to the correct datatype
dolar_informal['Compra'] = convert_str_to_float(dolar_informal['Compra'])
dolar_informal['Venta'] = convert_str_to_float(dolar_informal['Venta'])
dolar_informal

           Fecha  Compra   Venta
0     14-05-2021  148.00  153.00
1     13-05-2021  146.00  151.00
2     12-05-2021  147.00  152.00
3     11-05-2021  146.00  151.00
4     10-05-2021  147.00  152.00
...          ...     ...     ...
4799  17-01-2002    1.92    1.97
4800  16-01-2002    1.83    1.87
4801  15-01-2002    1.90    1.95
4802  14-01-2002    1.63    1.68
4803  11-01-2002    1.65    1.70

[4804 rows x 3 columns]

In [34]:
# Taking the average between both values
dolar_informal['dolar_informal'] = dolar_informal[['Compra', 'Venta']].mean(axis=1)
dolar_informal

           Fecha  Compra   Venta  dolar_informal
0     14-05-2021  148.00  153.00         150.500
1     13-05-2021  146.00  151.00         148.500
2     12-05-2021  147.00  152.00         149.500
3     11-05-2021  146.00  151.00         148.500
4     10-05-2021  147.00  152.00         149.500
...          ...     ...     ...             ...
4799  17-01-2002    1.92    1.97           1.945
4800  16-01-2002    1.83    1.87           1.850
4801  15-01-2002    1.90    1.95           1.925
4802  14-01-2002    1.63    1.68           1.655
4803  11-01-2002    1.65    1.70           1.675

[4804 rows x 4 columns]

In [35]:
# Dropping columns and renaming them
dolar_informal =  dolar_informal.drop(columns=['Compra', 'Venta'])
dolar_informal.columns = ['fecha', 'dolar_informal']
dolar_informal

           fecha  dolar_informal
0     14-05-2021         150.500
1     13-05-2021         148.500
2     12-05-2021         149.500
3     11-05-2021         148.500
4     10-05-2021         149.500
...          ...             ...
4799  17-01-2002           1.945
4800  16-01-2002           1.850
4801  15-01-2002           1.925
4802  14-01-2002           1.655
4803  11-01-2002           1.675

[4804 rows x 2 columns]

In [36]:
# Changing the "fecha column to datetime"
dolar_informal['fecha'] = pd.to_datetime(dolar_informal['fecha'], format='%d-%m-%Y')
dolar_informal.dtypes

fecha             datetime64[ns]
dolar_informal           float32
dtype: object

In [37]:
# Sorting the values from earliest to latest
dolar_informal = dolar_informal.sort_values('fecha').reset_index(drop=True)
dolar_informal

          fecha  dolar_informal
0    2002-01-11           1.675
1    2002-01-14           1.655
2    2002-01-15           1.925
3    2002-01-16           1.850
4    2002-01-17           1.945
...         ...             ...
4799 2021-05-10         149.500
4800 2021-05-11         148.500
4801 2021-05-12         149.500
4802 2021-05-13         148.500
4803 2021-05-14         150.500

[4804 rows x 2 columns]

In [38]:
# Merging the data
data = data.merge(dolar_informal, how='outer', on='fecha').reset_index(drop=True)
data = data.sort_values('fecha', axis=0)
data

,fecha,rem,badlar,base_monetaria,reservas,dolar_mayor,dolar_informal
5545,1996-01-02,NaN,NaN,13069.0,NaN,NaN,NaN
5546,1996-01-03,NaN,NaN,1297.0,NaN,NaN,NaN
5547,1996-01-04,NaN,NaN,13034.0,NaN,NaN,NaN
5548,1996-01-05,NaN,NaN,13097.0,NaN,NaN,NaN
5549,1996-01-08,NaN,NaN,13104.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
5541,2021-05-10,NaN,34.0000,2502577.0,40616.0,93.930000,149.5
5542,2021-05-11,NaN,34.1250,2545019.0,40762.0,93.959999,148.5
5543,2021-05-12,NaN,34.1875,2538706.0,40880.0,93.989998,149.5
5544,2021-05-13,NaN,34.1875,NaN,NaN,94.019997,148.5
6341,2021-05-14,NaN,NaN,NaN,NaN,94.050003,150.5

## Datos de Otras Fuentes <a class="anchor" id="otros"> </a>
### Encuesta Expectativas Inflacion (UTDT) <a class="anchor" id="utdt"> </a>

In [39]:
# Reading the data
utdt = pd.read_csv('Otros/Expectativas UTDT.csv')
print(utdt.dtypes)
utdt

Unnamed: 0                         object
Mediana                           float64
Promedio                          float64
Variaci�n Mensual del Promedio     object
dtype: object

    Unnamed: 0  Mediana   Promedio Variaci�n Mensual del Promedio
0     8/1/2006     10.0  13.732315                            NaN
1    9/30/2006     10.0  11.885915                      -13.4457%
2    10/1/2006     10.0  11.728203                       -1.3269%
3    11/1/2006     10.0  12.726685                        8.5135%
4    12/1/2006     10.0  13.863447                        8.9321%
..         ...      ...        ...                            ...
172  12/1/2020     40.0  42.854528                       -3.6577%
173   1/1/2021     45.0  44.139414                        2.9983%
174   2/1/2021     45.0  45.238070                        2.4891%
175   3/1/2021     50.0  46.339870                        2.4356%
176   4/1/2021     50.0  47.897966                        3.3623%

[177 rows x 4 columns]

In [40]:
# Dropping useless columns and renaming the rest
utdt = utdt.drop(columns=['Mediana', 'Variaci�n Mensual del Promedio'])
utdt.columns = ['fecha', 'expec_utdt']
utdt

         fecha  expec_utdt
0     8/1/2006   13.732315
1    9/30/2006   11.885915
2    10/1/2006   11.728203
3    11/1/2006   12.726685
4    12/1/2006   13.863447
..         ...         ...
172  12/1/2020   42.854528
173   1/1/2021   44.139414
174   2/1/2021   45.238070
175   3/1/2021   46.339870
176   4/1/2021   47.897966

[177 rows x 2 columns]

In [41]:
# Transforming to datetime
utdt['fecha'] = pd.to_datetime(utdt['fecha'], format='%m/%d/%Y')
print(utdt.dtypes)
utdt

fecha         datetime64[ns]
expec_utdt           float64
dtype: object

         fecha  expec_utdt
0   2006-08-01   13.732315
1   2006-09-30   11.885915
2   2006-10-01   11.728203
3   2006-11-01   12.726685
4   2006-12-01   13.863447
..         ...         ...
172 2020-12-01   42.854528
173 2021-01-01   44.139414
174 2021-02-01   45.238070
175 2021-03-01   46.339870
176 2021-04-01   47.897966

[177 rows x 2 columns]

In [42]:
# Matching the publishing date with the analyzed period
def move_to_next_month(date):
    if date.month == 12:
        new_date = dt.datetime(year=date.year+1, month=1, day=1)
    else:
        new_date = dt.datetime(year=date.year, month=date.month + 1, day=1)
    return new_date

utdt['fecha'] = utdt['fecha'].apply(move_to_next_month)
utdt

         fecha  expec_utdt
0   2006-09-01   13.732315
1   2006-10-01   11.885915
2   2006-11-01   11.728203
3   2006-12-01   12.726685
4   2007-01-01   13.863447
..         ...         ...
172 2021-01-01   42.854528
173 2021-02-01   44.139414
174 2021-03-01   45.238070
175 2021-04-01   46.339870
176 2021-05-01   47.897966

[177 rows x 2 columns]

In [43]:
# Merging the data
data = data.merge(utdt, how='outer', on='fecha').reset_index(drop=True)
data

,fecha,rem,badlar,base_monetaria,reservas,dolar_mayor,dolar_informal,expec_utdt
0,1996-01-02,NaN,NaN,13069.0,NaN,NaN,NaN,NaN
1,1996-01-03,NaN,NaN,1297.0,NaN,NaN,NaN,NaN
2,1996-01-04,NaN,NaN,13034.0,NaN,NaN,NaN,NaN
3,1996-01-05,NaN,NaN,13097.0,NaN,NaN,NaN,NaN
4,1996-01-08,NaN,NaN,13104.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
6419,2015-05-01,NaN,NaN,NaN,NaN,NaN,NaN,30.560357
6420,2015-08-01,NaN,NaN,NaN,NaN,NaN,NaN,27.695385
6421,2015-11-01,NaN,NaN,NaN,NaN,NaN,NaN,27.464382
6422,2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,30.523226
6423,2016-05-01,NaN,NaN,NaN,NaN,NaN,NaN,35.951784

### Estimador Mensual de Actividad Economica (INDEC) <a class="anchor" id="emae"> </a>

In [44]:
# Reading the file
emae = pd.read_csv('Otros/EMAE.csv', header=0, names=['fecha', 'EMAE'])
print(emae.dtypes)
emae

fecha     object
EMAE     float64
dtype: object

       fecha   EMAE
0    02/2004   90.2
1    03/2004  101.9
2    04/2004  102.6
3    05/2004  109.9
4    06/2004  105.7
..       ...    ...
200  10/2020  132.1
201  11/2020  133.4
202  12/2020  132.6
203  01/2021  129.2
204  02/2021  126.3

[205 rows x 2 columns]

In [45]:
# Transforming the "fecha" column to datetime64
emae['fecha'] = pd.to_datetime(emae['fecha'], format='%m/%Y')
emae

         fecha   EMAE
0   2004-02-01   90.2
1   2004-03-01  101.9
2   2004-04-01  102.6
3   2004-05-01  109.9
4   2004-06-01  105.7
..         ...    ...
200 2020-10-01  132.1
201 2020-11-01  133.4
202 2020-12-01  132.6
203 2021-01-01  129.2
204 2021-02-01  126.3

[205 rows x 2 columns]

In [46]:
# Matching the publishing date with the analyzed period
def add_three_months(date):
    month, year = date.month, date.year
    if (month+3) == 15:
        new_date = dt.datetime(year=year+1, month=3, day=1)
    elif (month+3) == 14:
        new_date = dt.datetime(year=year+1, month=2, day=1)
    elif (month+3) == 13:
        new_date = dt.datetime(year=year+1, month=1, day=1)
    else:
        new_date = dt.datetime(year=year, month=month+3, day=1)
    return new_date

emae['fecha'] = emae['fecha'].apply(add_three_months)

# Changing the column names
emae.columns = ['fecha', 'emae']
emae

         fecha   emae
0   2004-05-01   90.2
1   2004-06-01  101.9
2   2004-07-01  102.6
3   2004-08-01  109.9
4   2004-09-01  105.7
..         ...    ...
200 2021-01-01  132.1
201 2021-02-01  133.4
202 2021-03-01  132.6
203 2021-04-01  129.2
204 2021-05-01  126.3

[205 rows x 2 columns]

In [47]:
data = data.merge(emae, how='outer', on='fecha').reset_index(drop=True)
data

,fecha,rem,badlar,base_monetaria,reservas,dolar_mayor,dolar_informal,expec_utdt,emae
0,1996-01-02,NaN,NaN,13069.0,NaN,NaN,NaN,NaN,NaN
1,1996-01-03,NaN,NaN,1297.0,NaN,NaN,NaN,NaN,NaN
2,1996-01-04,NaN,NaN,13034.0,NaN,NaN,NaN,NaN,NaN
3,1996-01-05,NaN,NaN,13097.0,NaN,NaN,NaN,NaN,NaN
4,1996-01-08,NaN,NaN,13104.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6419,2015-05-01,NaN,NaN,NaN,NaN,NaN,NaN,30.560357,132.6
6420,2015-08-01,NaN,NaN,NaN,NaN,NaN,NaN,27.695385,168.9
6421,2015-11-01,NaN,NaN,NaN,NaN,NaN,NaN,27.464382,146.5
6422,2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,30.523226,147.0
6423,2016-05-01,NaN,NaN,NaN,NaN,NaN,NaN,35.951784,134.2

## IPC <a class="anchor" id="ipc"> </a>
### Datos Anteriores a 2007 <a class="anchor" id="ipc1943"> </a>

In [48]:
# Reading the file
ipc_old = pd.read_csv('IPC/IPC 1943-2006.csv')
print(ipc_old.dtypes)
ipc_old

Fecha    object
Valor    object
dtype: object

          Fecha Valor
0    28/02/1943  -0,6
1    31/03/1943   1,6
2    30/04/1943   0,7
3    31/05/1943  -0,9
4    30/06/1943   0,1
..          ...   ...
762  31/08/2006   0,6
763  30/09/2006   0,9
764  31/10/2006   0,9
765  30/11/2006   0,7
766  31/12/2006   1,0

[767 rows x 2 columns]

In [49]:
# Changing the column names
ipc_old.columns = ['fecha', 'ipc']

# Converting the "fecha" column to datetime
ipc_old['fecha'] = pd.to_datetime(ipc_old['fecha'], format='%d/%m/%Y')

# Setting the day values in "Mes" to 1
def replace_dt(series, year=None, month=None, day=None):
    return pd.to_datetime(
        {'year': series.dt.year if year is None else year,
         'month': series.dt.month if month is None else month,
         'day': series.dt.day if day is None else day})

ipc_old['fecha'] = replace_dt(ipc_old['fecha'], day=1)

# Converting the values to fp32
ipc_old['ipc'] = convert_str_to_float(ipc_old['ipc'])

print(ipc_old.dtypes)
ipc_old

fecha    datetime64[ns]
ipc             float32
dtype: object

         fecha  ipc
0   1943-02-01 -0.6
1   1943-03-01  1.6
2   1943-04-01  0.7
3   1943-05-01 -0.9
4   1943-06-01  0.1
..         ...  ...
762 2006-08-01  0.6
763 2006-09-01  0.9
764 2006-10-01  0.9
765 2006-11-01  0.7
766 2006-12-01  1.0

[767 rows x 2 columns]

### Datos entre 2007 y 2017 <a class="anchor" id="ipc2007"> </a>
#### IPC San Luis <a class="anchor" id="ipcsl"> </a>

In [50]:
# Reading the file
ipc_sl = pd.read_csv('IPC/IPC San Luis.csv')
print(ipc_sl.dtypes)
ipc_sl

INDICE DE PRECIOS AL CONSUMIDOR SAN LUIS, base 2003=100    object
Unnamed: 1                                                 object
Unnamed: 2                                                 object
Unnamed: 3                                                 object
dtype: object

,"INDICE DE PRECIOS AL CONSUMIDOR SAN LUIS, base 2003=100",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Evolución del Indice de Precios al Consumidor ...,NaN,NaN,NaN
1,Año,Mes,Índice,Variación porcentual respecto del mes anterior
2,2005,Octubre,116.16,0.6
3,2005,Noviembre,117.45,1.1
4,2005,Diciembre,117.92,0.4
...,...,...,...,...
183,2020,Noviembre,5293.17,3.7
184,2020,Diciembre,5626.28,6.3
185,2021,Enero,5907.94,5
186,2021,Febrero,6123.9,3.7
187,2021,Marzo,6361.08,3.9

In [51]:
# Fixing the header
ipc_sl.columns = ipc_sl.loc[1, :]
ipc_sl = ipc_sl.loc[2:, :].reset_index(drop=True)
print(ipc_sl.dtypes)
ipc_sl

1
Año                                               object
Mes                                               object
Índice                                            object
Variación porcentual respecto del mes anterior    object
dtype: object

1     Año        Mes   Índice Variación porcentual respecto del mes anterior
0    2005    Octubre   116.16                                            0.6
1    2005  Noviembre   117.45                                            1.1
2    2005  Diciembre   117.92                                            0.4
3    2006      Enero   119.32                                            1.2
4    2006    Febrero   119.55                                            0.2
..    ...        ...      ...                                            ...
181  2020  Noviembre  5293.17                                            3.7
182  2020  Diciembre  5626.28                                            6.3
183  2021      Enero  5907.94                                              5
184  2021    Febrero   6123.9                                            3.7
185  2021      Marzo  6361.08                                            3.9

[186 rows x 4 columns]

In [52]:
# Formatting the "Año" and "Mes" columns
ipc_sl['Año'] = ipc_sl['Año'].astype('int')
month_dict = {'Enero':1, 'Febrero':2, 'Marzo':3, 'Abril': 4, 'Mayo':5, 'Junio':6, 
              'Julio':7, 'Agosto':8, 'Septiembre':9, 'Octubre':10, 'Noviembre':11, 
              'Diciembre':12}

ipc_sl['Mes'] = ipc_sl['Mes'].replace(month_dict)
ipc_sl

1     Año  Mes   Índice Variación porcentual respecto del mes anterior
0    2005   10   116.16                                            0.6
1    2005   11   117.45                                            1.1
2    2005   12   117.92                                            0.4
3    2006    1   119.32                                            1.2
4    2006    2   119.55                                            0.2
..    ...  ...      ...                                            ...
181  2020   11  5293.17                                            3.7
182  2020   12  5626.28                                            6.3
183  2021    1  5907.94                                              5
184  2021    2   6123.9                                            3.7
185  2021    3  6361.08                                            3.9

[186 rows x 4 columns]

In [53]:
# Creating the datetime column
ipc_sl['fecha'] = pd.to_datetime((ipc_sl['Año']*100 + ipc_sl['Mes']).astype(str), format='%Y%m')

# Dropping unnecessary columns
ipc_sl = ipc_sl.drop(columns=['Año', 'Mes', 'Índice'])

# Renaming columns
ipc_sl.columns = ['ipc_sl', 'fecha']

# Casting the "ipc" column to fp32
ipc_sl['ipc_sl'] = ipc_sl['ipc_sl'].astype('float32')

print(ipc_sl.dtypes)
ipc_sl

ipc_sl           float32
fecha     datetime64[ns]
dtype: object

     ipc_sl      fecha
0       0.6 2005-10-01
1       1.1 2005-11-01
2       0.4 2005-12-01
3       1.2 2006-01-01
4       0.2 2006-02-01
..      ...        ...
181     3.7 2020-11-01
182     6.3 2020-12-01
183     5.0 2021-01-01
184     3.7 2021-02-01
185     3.9 2021-03-01

[186 rows x 2 columns]

In [54]:
# Limiting the df to the relevant period
bool_mask_1 = ipc_sl['fecha'] < dt.datetime(year=2017, month=1, day=1)
bool_mask_2 = ipc_sl['fecha'] > dt.datetime(year=2006, month=12, day=1)
ipc_sl = ipc_sl[bool_mask_1 & bool_mask_2]
ipc_sl

     ipc_sl      fecha
15      1.1 2007-01-01
16      0.7 2007-02-01
17      1.0 2007-03-01
18      2.3 2007-04-01
19      2.1 2007-05-01
..      ...        ...
130     0.6 2016-08-01
131     1.7 2016-09-01
132     1.9 2016-10-01
133     1.3 2016-11-01
134     0.9 2016-12-01

[120 rows x 2 columns]

#### IPC CABA <a class="anchor" id="ipccaba"> </a>

In [55]:
# Reading the file
ipc_caba = pd.read_csv('IPC/IPC CABA.csv')
print(ipc_caba.dtypes)
ipc_caba

Mes                     object
Índice1                 object
Unnamed: 2              object
Unnamed: 3              object
Variación porcentual    object
Unnamed: 5              object
Unnamed: 6              object
dtype: object

,Mes,Índice1,Unnamed: 2,Unnamed: 3,Variación porcentual,Unnamed: 5,Unnamed: 6
0,NaN,Nivel General,Bienes,Servicios,Nivel General,Bienes,Servicios
1,Jul-12,111.67,112.02,111.36,1.9,1.7,2.1
2,Aug-12,114.25,113.6,114.83,2.3,1.4,3.1
3,Sep-12,115.96,115.66,116.23,1.5,1.8,1.2
4,Oct-12,117.67,117.72,117.62,1.5,1.8,1.2
...,...,...,...,...,...,...,...
102,Dec-20,1381.02,1493.65,1280.03,3.8,3.5,4
103,Jan-21,1433.99,1552.27,1327.93,3.8,3.9,3.7
104,Feb-21,1474.86,1615.19,1349.02,2.9,4.1,1.6
105,Mar-21,1532.21,1675.88,1403.37,3.9,3.8,4.0
106,abr-21*,1593.88,1761.53,1443.54,4.0,5.1,2.9

In [56]:
# Dropping unnecessary columns
ipc_caba = ipc_caba.drop(columns=['Índice1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 6'])
ipc_caba = ipc_caba.loc[1:105, :].reset_index(drop=True)
ipc_caba

        Mes Variación porcentual
0    Jul-12                  1.9
1    Aug-12                  2.3
2    Sep-12                  1.5
3    Oct-12                  1.5
4    Nov-12                  2.1
..      ...                  ...
100  Nov-20                  3.1
101  Dec-20                  3.8
102  Jan-21                  3.8
103  Feb-21                  2.9
104  Mar-21                  3.9

[105 rows x 2 columns]

In [57]:
# Casting the "fecha" column as datetime
ipc_caba['Mes'] = pd.to_datetime(ipc_caba['Mes'], format='%b-%y')

# Renaming columns
ipc_caba.columns = ['fecha', 'ipc_caba']

# Casting "ipc_caba" as fp32
ipc_caba['ipc_caba'] = ipc_caba['ipc_caba'].astype('float32') 
print(ipc_caba.dtypes)
ipc_caba

fecha       datetime64[ns]
ipc_caba           float32
dtype: object

         fecha  ipc_caba
0   2012-07-01       1.9
1   2012-08-01       2.3
2   2012-09-01       1.5
3   2012-10-01       1.5
4   2012-11-01       2.1
..         ...       ...
100 2020-11-01       3.1
101 2020-12-01       3.8
102 2021-01-01       3.8
103 2021-02-01       2.9
104 2021-03-01       3.9

[105 rows x 2 columns]

In [58]:
# Limiting the df to the relevant period
bool_mask = ipc_caba['fecha'] < dt.datetime(year=2017, month=1, day=1)
ipc_caba = ipc_caba[bool_mask]
ipc_caba

        fecha  ipc_caba
0  2012-07-01       1.9
1  2012-08-01       2.3
2  2012-09-01       1.5
3  2012-10-01       1.5
4  2012-11-01       2.1
5  2012-12-01       2.0
6  2013-01-01       2.3
7  2013-02-01       1.1
8  2013-03-01       1.5
9  2013-04-01       2.0
10 2013-05-01       1.5
11 2013-06-01       1.9
12 2013-07-01       2.5
13 2013-08-01       2.1
14 2013-09-01       2.1
15 2013-10-01       2.2
16 2013-11-01       2.4
17 2013-12-01       2.3
18 2014-01-01       4.8
19 2014-02-01       4.4
20 2014-03-01       3.6
21 2014-04-01       3.1
22 2014-05-01       2.5
23 2014-06-01       2.3
24 2014-07-01       2.2
25 2014-08-01       2.3
26 2014-09-01       2.2
27 2014-10-01       1.9
28 2014-11-01       1.8
29 2014-12-01       1.5
30 2015-01-01       2.0
31 2015-02-01       1.5
32 2015-03-01       1.7
33 2015-04-01       2.4
34 2015-05-01       2.2
35 2015-06-01       1.4
36 2015-07-01       2.0
37 2015-08-01       1.8
38 2015-09-01       1.7
39 2015-10-01       1.7
40 2015-11-01       2.0
41 2015-12-01       3.9
42 2016-01-01       4.1
43 2016-02-01       4.0
44 2016-03-01       3.3
45 2016-04-01       6.5
46 2016-05-01       5.0
47 2016-06-01       3.2
48 2016-07-01       2.2
49 2016-08-01      -0.8
50 2016-09-01       1.3
51 2016-10-01       2.9
52 2016-11-01       2.0
53 2016-12-01       1.2

#### Uniendo y Tomando la Media de Ambos <a class="anchor" id="uniendo"> </a>

In [59]:
# Merging both dfs
ipc_mid = ipc_caba.merge(ipc_sl, how='outer', on='fecha')
ipc_mid = ipc_mid.sort_values(by='fecha', axis=0)
print(ipc_mid.dtypes)
ipc_mid

fecha       datetime64[ns]
ipc_caba           float32
ipc_sl             float32
dtype: object

        fecha  ipc_caba  ipc_sl
54 2007-01-01       NaN     1.1
55 2007-02-01       NaN     0.7
56 2007-03-01       NaN     1.0
57 2007-04-01       NaN     2.3
58 2007-05-01       NaN     2.1
..        ...       ...     ...
49 2016-08-01      -0.8     0.6
50 2016-09-01       1.3     1.7
51 2016-10-01       2.9     1.9
52 2016-11-01       2.0     1.3
53 2016-12-01       1.2     0.9

[120 rows x 3 columns]

In [60]:
# Taking the averge of both ipc measurements when possible
bool_mask_1 = ipc_mid['fecha'] < dt.datetime(year=2012, month=7, day=1)
bool_mask_2 = ipc_mid['fecha'] >= dt.datetime(year=2012, month=7, day=1)

ipc_mid.loc[bool_mask_1, 'ipc'] = ipc_mid.loc[bool_mask_1, 'ipc_sl']

ipc_sum = ipc_mid.loc[bool_mask_2, 'ipc_caba'] + ipc_mid.loc[bool_mask_2, 'ipc_sl']
ipc_mid.loc[bool_mask_2, 'ipc'] = ipc_sum / 2

ipc_mid

        fecha  ipc_caba  ipc_sl   ipc
54 2007-01-01       NaN     1.1  1.10
55 2007-02-01       NaN     0.7  0.70
56 2007-03-01       NaN     1.0  1.00
57 2007-04-01       NaN     2.3  2.30
58 2007-05-01       NaN     2.1  2.10
..        ...       ...     ...   ...
49 2016-08-01      -0.8     0.6 -0.10
50 2016-09-01       1.3     1.7  1.50
51 2016-10-01       2.9     1.9  2.40
52 2016-11-01       2.0     1.3  1.65
53 2016-12-01       1.2     0.9  1.05

[120 rows x 4 columns]

In [61]:
# Removing columns
ipc_mid = ipc_mid.drop(columns=['ipc_caba', 'ipc_sl']).reset_index(drop=True)
ipc_mid

         fecha   ipc
0   2007-01-01  1.10
1   2007-02-01  0.70
2   2007-03-01  1.00
3   2007-04-01  2.30
4   2007-05-01  2.10
..         ...   ...
115 2016-08-01 -0.10
116 2016-09-01  1.50
117 2016-10-01  2.40
118 2016-11-01  1.65
119 2016-12-01  1.05

[120 rows x 2 columns]

### Datos Posteriores a 2017 <a class="anchor" id="ipc2017"> </a>

In [62]:
# Reading the file
ipc_new = pd.read_csv('IPC/IPC 2017-.csv', names=['Mes', 'valor'])
print(ipc_new.dtypes)
ipc_new

Mes      object
valor    object
dtype: object

       Mes valor
0   Jan-17  1.6%
1   Feb-17  2.1%
2   Mar-17  2.4%
3   Apr-17  2.7%
4   May-17  1.4%
5   Jun-17  1.2%
6   Jul-17  1.7%
7   Aug-17  1.4%
8   Sep-17  1.9%
9   Oct-17  1.5%
10  Nov-17  1.4%
11  Dec-17  3.1%
12  Jan-18  1.8%
13  Feb-18  2.4%
14  Mar-18  2.3%
15  Apr-18  2.7%
16  May-18  2.1%
17  Jun-18  3.7%
18  Jul-18  3.1%
19  Aug-18  3.9%
20  Sep-18  6.5%
21  Oct-18  5.4%
22  Nov-18  3.2%
23  Dec-18  2.6%
24  Jan-19  2.9%
25  Feb-19  3.8%
26  Mar-19  4.7%
27  Apr-19  3.4%
28  May-19  3.1%
29  Jun-19  2.7%
30  Jul-19  2.2%
31  Aug-19  4.0%
32  Sep-19  5.9%
33  Oct-19  3.3%
34  Nov-19  4.3%
35  Dec-19  3.7%
36  Jan-20  2.3%
37  Feb-20  2.0%
38  Mar-20  3.3%
39  Apr-20  1.5%
40  May-20  1.5%
41  Jun-20  2.2%
42  Jul-20  1.9%
43  Aug-20  2.7%
44  Sep-20  2.8%
45  Oct-20  3.8%
46  Nov-20  3.2%
47  Dec-20  4.0%
48  Jan-21  4.0%
49  Feb-21  3.6%
50  Mar-21  4.8%
51  Apr-21  4.1%

In [63]:
# Casting the values as float
ipc_new['valor'] = ipc_new['valor'].str.replace('%', '')
ipc_new['valor'] = ipc_new['valor'].astype('float')
ipc_new['Mes'] = pd.to_datetime(ipc_new['Mes'], format='%b-%y')

# Renaming columns
ipc_new.columns = ['fecha', 'ipc']
ipc_new

        fecha  ipc
0  2017-01-01  1.6
1  2017-02-01  2.1
2  2017-03-01  2.4
3  2017-04-01  2.7
4  2017-05-01  1.4
5  2017-06-01  1.2
6  2017-07-01  1.7
7  2017-08-01  1.4
8  2017-09-01  1.9
9  2017-10-01  1.5
10 2017-11-01  1.4
11 2017-12-01  3.1
12 2018-01-01  1.8
13 2018-02-01  2.4
14 2018-03-01  2.3
15 2018-04-01  2.7
16 2018-05-01  2.1
17 2018-06-01  3.7
18 2018-07-01  3.1
19 2018-08-01  3.9
20 2018-09-01  6.5
21 2018-10-01  5.4
22 2018-11-01  3.2
23 2018-12-01  2.6
24 2019-01-01  2.9
25 2019-02-01  3.8
26 2019-03-01  4.7
27 2019-04-01  3.4
28 2019-05-01  3.1
29 2019-06-01  2.7
30 2019-07-01  2.2
31 2019-08-01  4.0
32 2019-09-01  5.9
33 2019-10-01  3.3
34 2019-11-01  4.3
35 2019-12-01  3.7
36 2020-01-01  2.3
37 2020-02-01  2.0
38 2020-03-01  3.3
39 2020-04-01  1.5
40 2020-05-01  1.5
41 2020-06-01  2.2
42 2020-07-01  1.9
43 2020-08-01  2.7
44 2020-09-01  2.8
45 2020-10-01  3.8
46 2020-11-01  3.2
47 2020-12-01  4.0
48 2021-01-01  4.0
49 2021-02-01  3.6
50 2021-03-01  4.8
51 2021-04-01  4.1

### Uniendo todos los Datos del IPC <a class="anchor" id="ipcfin"> </a>

In [64]:
# Stacking the dataframes on top of each other
ipc = pd.concat([ipc_old, ipc_mid]).reset_index(drop=True)
ipc = pd.concat([ipc, ipc_new]).reset_index(drop=True)
ipc

         fecha  ipc
0   1943-02-01 -0.6
1   1943-03-01  1.6
2   1943-04-01  0.7
3   1943-05-01 -0.9
4   1943-06-01  0.1
..         ...  ...
934 2020-12-01  4.0
935 2021-01-01  4.0
936 2021-02-01  3.6
937 2021-03-01  4.8
938 2021-04-01  4.1

[939 rows x 2 columns]

In [65]:
# Merging with the data df
data = data.merge(ipc, how='outer', on='fecha').reset_index(drop=True)
data

,fecha,rem,badlar,base_monetaria,reservas,dolar_mayor,dolar_informal,expec_utdt,emae,ipc
0,1996-01-02,NaN,NaN,13069.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-01-03,NaN,NaN,1297.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-01-04,NaN,NaN,13034.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1996-01-05,NaN,NaN,13097.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1996-01-08,NaN,NaN,13104.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7098,2003-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6
7099,2003-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6
7100,2003-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.4
7101,2003-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.1
7102,2004-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4

## Elaboracion del Dataset Final <a class="anchor" id="dataset"> </a>
### Ordenando los Datos cronologicamente <a class="anchor" id="sorting"> </a>

In [66]:
data = data.sort_values('fecha', axis=0).reset_index(drop=True)
data

,fecha,rem,badlar,base_monetaria,reservas,dolar_mayor,dolar_informal,expec_utdt,emae,ipc
0,1943-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.6
1,1943-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6
2,1943-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7
3,1943-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.9
4,1943-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1
...,...,...,...,...,...,...,...,...,...,...
7098,2021-05-10,NaN,34.0000,2502577.0,40616.0,93.930000,149.5,NaN,NaN,NaN
7099,2021-05-11,NaN,34.1250,2545019.0,40762.0,93.959999,148.5,NaN,NaN,NaN
7100,2021-05-12,NaN,34.1875,2538706.0,40880.0,93.989998,149.5,NaN,NaN,NaN
7101,2021-05-13,NaN,34.1875,NaN,NaN,94.019997,148.5,NaN,NaN,NaN
7102,2021-05-14,NaN,NaN,NaN,NaN,94.050003,150.5,NaN,NaN,NaN

#### Delimitando los Datos al periodo 2002-2021 <a class="anchor" id="delimitando"> </a>

In [67]:
data = data[data['fecha'] >= dt.datetime(year=2002, month=1, day=1)]
data = data[data['fecha'] < dt.datetime(year=2021, month=5, day=1)].reset_index(drop=True)
data

,fecha,rem,badlar,base_monetaria,reservas,dolar_mayor,dolar_informal,expec_utdt,emae,ipc
0,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.3
1,2002-01-02,NaN,7.5000,12169.0,15164.0,NaN,NaN,NaN,NaN,NaN
2,2002-01-03,NaN,7.0000,12122.0,15215.0,NaN,NaN,NaN,NaN,NaN
3,2002-01-04,NaN,7.6875,1189.0,15237.0,NaN,NaN,NaN,NaN,NaN
4,2002-01-07,NaN,NaN,11964.0,15371.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4920,2021-04-26,NaN,34.0625,2487344.0,40271.0,93.279999,155.5,NaN,NaN,NaN
4921,2021-04-27,NaN,34.1250,2482754.0,40330.0,93.339996,158.5,NaN,NaN,NaN
4922,2021-04-28,NaN,33.9375,2490201.0,40339.0,93.419998,159.5,NaN,NaN,NaN
4923,2021-04-29,NaN,34.1875,2406780.0,40357.0,93.500000,151.5,NaN,NaN,NaN
4924,2021-04-30,NaN,34.0625,2370115.0,40263.0,93.559998,147.5,NaN,NaN,NaN

#### Preparando las variables de frecuencia mensual <a class="anchor" id="monthly_var"> </a>

In [68]:
# Preparing the data published monthly
monthly_cols = ['ipc', 'rem', 'expec_utdt', 'emae']
for i in range(len(monthly_cols)):
    variable = monthly_cols[i]
    if i == 0:
        new_data = data[['fecha', variable]].dropna().reset_index(drop=True)
    else:
        new_data = new_data.merge(data[['fecha', variable]], on='fecha')
new_data

         fecha   ipc       rem  expec_utdt   emae
0   2002-01-01   2.3       NaN         NaN    NaN
1   2002-02-01   3.1       NaN         NaN    NaN
2   2002-03-01   4.0       NaN         NaN    NaN
3   2002-04-01  10.4       NaN         NaN    NaN
4   2002-05-01   4.0       NaN         NaN    NaN
..         ...   ...       ...         ...    ...
227 2020-12-01   4.0  3.652041   44.481538  127.1
228 2021-01-01   4.0  3.852123   42.854528  132.1
229 2021-02-01   3.6  3.803133   44.139414  133.4
230 2021-03-01   4.8  3.530524   45.238070  132.6
231 2021-04-01   4.1  3.945794   46.339870  129.2

[232 rows x 5 columns]

#### Preparando las variables diarias <a class="anchor" id="dayly_var"> </a>

In [69]:
# Selecting the first five days of each month

def select_first_five_days(df, date_col):
    """This function takes the data from the first five days from 
       each month """
    # Creating the empty df   
    new_df = pd.DataFrame()
    # Creating a list of years
    min_year = min(df[date_col].dt.year)
    max_year = max(df[date_col].dt.year)
    years = [i for i in range(min_year, max_year+1)]
    # Looping over the years
    for year in years:
        # Selecting only the current year in the loop
        year_df = df[df[date_col].dt.year == year].reset_index(drop=True)
        # Creating a list of months for each year
        min_month = min(year_df[date_col].dt.month)
        max_month = max(year_df[date_col].dt.month)
        months = [i for i in range(min_month, max_month+1)]
        # Looping over the months
        for month in months:
            # Selecting only the current month in the loop
            month_df = year_df[year_df[date_col].dt.month == month].reset_index(drop=True)
            # Dropping rows with NaN values
            month_df = month_df.dropna().reset_index(drop=True)
            # Selecting the first five rows
            first_five_days = month_df.loc[:4, :]
            # Appending those rows to the final dataframe
            new_df = new_df.append(first_five_days)
    # Resetting the index of the final dataframe
    new_df = new_df.reset_index(drop=True)
    return new_df

# List of cols where the data is published monthly
daily_cols = ['badlar', 'base_monetaria', 'reservas', 'dolar_mayor', 'dolar_informal']
# Dict to store the resulting dataframes
daily_dict = {}

# Looping over the previous list
for i in range(len(daily_cols)):
    daily_dict[i] = select_first_five_days(data[['fecha', daily_cols[i]]], 'fecha')

daily_dict[2]

          fecha  reservas
0    2002-01-02   15164.0
1    2002-01-03   15215.0
2    2002-01-04   15237.0
3    2002-01-07   15371.0
4    2002-01-08   15392.0
...         ...       ...
1155 2021-04-05   39645.0
1156 2021-04-06   39709.0
1157 2021-04-07   39751.0
1158 2021-04-08   39801.0
1159 2021-04-09   39850.0

[1160 rows x 2 columns]

In [70]:
# Making a row for each month 

def rotate_data(df, date_col, value_col, new_value_col, new_period_col):
    new_df = pd.DataFrame()
    # Looping over the rows of the original df
    for i in range(0, df.shape[0], 5):
        # Extracting the corresponding year and month
        year = df.loc[i, date_col].year
        month = df.loc[i, date_col].month 
        # Creating the new period col
        new_df.loc[i, new_period_col] = dt.datetime(year=year, month=month, day=1)
        # Creating the new cols
        new_df.loc[i, new_value_col+'_1'] = df.loc[i, value_col]
        new_df.loc[i, new_value_col+'_2'] = df.loc[i+1, value_col]
        new_df.loc[i, new_value_col+'_3'] = df.loc[i+2, value_col]
        new_df.loc[i, new_value_col+'_4'] = df.loc[i+3, value_col]
        new_df.loc[i, new_value_col+'_5'] = df.loc[i+4, value_col]
    # Resetting the index in new_df    
    new_df = new_df.reset_index(drop=True)
    # Setting new_period_col to datetime64
    new_df[new_period_col] = pd.to_datetime(new_df[new_period_col])    
    return new_df

for i in daily_dict:
    date_col = daily_dict[i].columns[0]
    value_col =  daily_dict[i].columns[1]
    daily_dict[i] = rotate_data(daily_dict[i], date_col, value_col, value_col, date_col)

daily_dict[2]

         fecha  reservas_1  reservas_2  reservas_3  reservas_4  reservas_5
0   2002-01-01     15164.0     15215.0     15237.0     15371.0     15392.0
1   2002-02-01     14025.0     13674.0     13973.0     13971.0     13974.0
2   2002-03-01     13788.0     13732.0     13794.0     13798.0     13809.0
3   2002-04-01     12762.0     12667.0     12699.0     12686.0     12665.0
4   2002-05-01     12135.0     12027.0     12009.0     11980.0     11770.0
..         ...         ...         ...         ...         ...         ...
227 2020-12-01     38619.0     38622.0     38652.0     38661.0     38710.0
228 2021-01-01     39501.0     39540.0     39546.0     39556.0     39462.0
229 2021-02-01     39460.0     39453.0     39473.0     39134.0     39174.0
230 2021-03-01     39617.0     39654.0     39718.0     39784.0     39799.0
231 2021-04-01     39645.0     39709.0     39751.0     39801.0     39850.0

[232 rows x 6 columns]

#### Uniendo ambos dataframes y rellenando datos faltantes <a class="anchor" id="rellenando"> </a>

In [71]:
# Merging the daily data with the monthly data
for i in daily_dict:
    new_data = new_data.merge(daily_dict[i], on='fecha')

# Filling NaNs with zeros
new_data = new_data.fillna(0)
new_data

,fecha,ipc,rem,expec_utdt,emae,badlar_1,badlar_2,badlar_3,badlar_4,badlar_5,...,dolar_mayor_1,dolar_mayor_2,dolar_mayor_3,dolar_mayor_4,dolar_mayor_5,dolar_informal_1,dolar_informal_2,dolar_informal_3,dolar_informal_4,dolar_informal_5
0,2002-03-01,4.0,0.000000,0.000000,0.0,21.5000,19.5000,14.5000,20.6250,0.0000,...,2.370000,2.340000,2.320000,2.380000,2.430000,2.185,2.110,2.11,2.13,2.210
1,2002-04-01,10.4,0.000000,0.000000,0.0,52.0625,47.3750,55.4375,65.0000,35.0000,...,2.890000,2.900000,2.800000,2.670000,2.700000,2.915,2.955,2.83,2.80,2.775
2,2002-05-01,4.0,0.000000,0.000000,0.0,138.4375,115.8750,141.1875,160.1250,189.1875,...,3.040000,3.160000,3.160000,3.170000,3.190000,3.135,3.190,3.20,3.22,3.240
3,2002-06-01,3.6,0.000000,0.000000,0.0,119.3750,147.6875,109.5625,86.1250,99.1875,...,3.590000,3.610000,3.630000,3.640000,3.630000,3.640,3.650,3.66,3.69,3.700
4,2002-07-01,3.2,0.000000,0.000000,0.0,84.1875,94.3750,113.3750,115.6250,94.0000,...,3.790000,3.690000,3.580000,3.560000,3.570000,3.820,3.690,3.63,3.59,3.630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,2020-12-01,4.0,3.652041,44.481538,127.1,34.3750,34.3125,34.1875,34.0625,34.2500,...,81.400002,81.480003,81.559998,81.650002,82.050003,150.000,150.000,148.00,147.00,146.000
226,2021-01-01,4.0,3.852123,42.854528,132.1,34.0625,34.3125,33.9375,33.8125,34.1250,...,84.699997,84.800003,84.900002,85.000000,85.110001,162.000,157.000,157.00,159.00,158.000
227,2021-02-01,3.6,3.803133,44.139414,133.4,34.1875,34.1875,34.0000,34.1875,34.0625,...,87.610001,87.699997,87.809998,87.910004,88.010002,150.500,150.500,150.50,147.50,148.500
228,2021-03-01,4.8,3.530524,45.238070,132.6,34.0625,34.0625,34.1875,33.8750,33.8750,...,90.089996,90.160004,90.220001,90.300003,90.370003,143.500,142.500,142.50,141.50,141.500
229,2021-04-01,4.1,3.945794,46.339870,129.2,33.9375,34.1250,34.0625,34.0625,34.0625,...,92.239998,92.290001,92.339996,92.389999,92.440002,137.500,137.500,136.50,137.50,137.500

### Guardando los datos a un archivo <a class="anchor" id="Guardando"> </a>

In [72]:
# Saving the data
new_data.to_csv('processed data.csv', index=False)